body {
    margin: 0px;
    background-color: #0A0A0F;
    color:aliceblue
}

.YTBox{
    margin-left: 50px;
    background: #15151F;
    padding: 20px;
    border-radius: 12px;
    
}
.opinionbox{
    margin-left: 0;
    background: #15151F;
    padding: 80px 20px 20px 20px;
    height: 400px;
    border-radius: 12px;
    align-self: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formt{
    background:none;
    border: none;
    color:aliceblue;
    text-align: center;
    width: 500px;
    
}
.inputbox{
    background-color: #0A0A0F;
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
}
.taskbar{
    background: #15151F;
    margin-top: 0%;
    height: 60px;

    
}
p{
   
    text-align: center;
    
}
h1{
    text-align: center;
    margin: 0;
    border-radius: 12px;
}
h2{
    
    text-align: center;
    margin: 0;
    border-radius: 12px;

}
a{
    color:salmon
}
.p1{
    display: flex;
    margin: 14px 14px;
    
    align-items: center;
    justify-content: center;
}
.parrafo{
    margin: 15px 400px;
    background: #262636;
    padding: 15px;
    border-radius: 50px;

}
.downlaod{
    margin-left: 50px;
    background: #52528b;
    padding: 20px;
    border-radius: 12px;
    
}


