body{
    margin: 0;
    background: #0E1126;
}

.title {
    width: 100px;
    margin: 20px auto;
    margin-top: 20px;
    color: #ebc417;
    font-family: Arial;
    text-align: center;
    transition: all 0.3s ease;
    text-shadow: 0 10px 12px rgba(172, 146, 0, 0.2);
    
}
.title:hover {
    transform: scale(1.1)
}
.subtitle {
    color: #ecf6ff9c;
    margin-top: -10px;
    font-size: 15px;
    text-align: center;
}

.layout {
    background: rgb(8, 10, 24);
    color:rgb(236, 246, 255);
    display: flex;
    font-family: Arial;
    height: 100vh;
    
}
.navbar {
    width: 220px;
    height: auto;
    background-color: rgb(23, 25, 49);
    transition: all 0.3s ease;
    padding: 20px 20px 20px 0;
    border-radius: 0 20px 20px 0;
    border: 2px solid rgb(44, 52, 85);
    box-shadow: 0 10px 12px rgba(255, 255, 255, 0.2);

}
.navbar h2{
    margin: 10px;
}
.navbar h3 {
    margin: 10px;
}
.navbar:hover{
    width: 230px;
}
.profile {
    text-align: center;
    padding-left: 20px;
}
.profile h3 {
    color: #ebc417;
    text-shadow: 0 10px 12px rgba(172, 146, 0, 0.2);
}
.seccion{
    background-color: #0E1126;
    padding: 10px 5px;
    margin: 10px 20px 10px 0;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 10px 12px rgba(173, 173, 173, 0.2);
    transition: all 0.1s ease;


}
.seccion:hover {
    border: 2px solid rgb(209, 209, 209);
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding-left: 10px;
}

.content1 {
    
    flex: 1;                  
    display: grid;
    justify-content: center;   
    grid-template-columns: repeat(3, 300px);  
    gap: 50px;
    padding: 50px;
    
}
.box-proyects{
    width: 250px;
    height: 300px;
    background-color: rgb(23, 25, 49);
    padding: 20px;
    display:block;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 20px;
    box-shadow: 0 10px 12px rgba(206, 206, 206, 0.2);
    margin: 20px auto;
    transition: all 0.3s ease;

    position: relative;
}
.box-proyects:hover {
    
    transform: scale(1.1)
}
.box-proyects h2 {
    margin: 0;
}
.box-proyects p {
    text-align:start
}
.using {
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgb(59, 67, 90);
    padding: 5px 10px;
    border-radius: 15px;
    
}
.icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    
    padding: 0 10px;
    transition: all 0.3s ease;
}
.icon:hover {
    transform: scale(1.2)
}



