body{
    margin: 0;
}

.layout {
    background: rgb(8, 10, 24);
    color:rgb(236, 246, 255);
    display: flex;
    font-family: Arial;
    height: 100vh;
    
}
.navbar {
    width: 200px;
    height: auto;
    background-color: rgb(23, 25, 49);
    transition: all 0.3s ease;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    border: 2px solid rgb(44, 52, 85);
    box-shadow: 0 10px 12px rgba(255, 255, 255, 0.2);

}
.navbar h2{
    margin: 0;
}
.navbar h3 {
    margin: 10px;
}
.navbar:hover{
    width: 250px;
}
.content1 {
    
    flex: 1;                  
    display: grid;
    justify-content: center;   
    grid-template-columns: repeat(3, 300px);  
    gap: 50px;
    padding: 50px;
    
}
.box-proyectos{
    width: 250px;
    height: 300px;
    background-color: rgb(23, 25, 49);
    padding: 20px;
    display:block;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 20px;
    box-shadow: 0 10px 12px rgba(206, 206, 206, 0.2);
    margin: 20px auto;
    transition: all 0.3s ease;

    position: relative;
}
.box-proyectos:hover {
    
    transform: scale(1.1)
}
.box-proyectos h2 {
    margin: 0;
}
.box-proyectos p {
    text-align: justify;
}
.using {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}



